$accordion-button-active-bg:  #dcf1da;
$accordion-button-active-color: #50B948;
$accordion-button-focus-border-color: #50B948;
$accordion-button-focus-box-shadow: 0 0 3px #50B948;
$accordion-icon-color:              #50B948;
$accordion-icon-active-color:  #50B948;

@import "../../node_modules/bootstrap/scss/bootstrap";